<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mat.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>{% block title %} Base template for sitaji app{% endblock %}</title>
</head>
<body>
	{% block body  %} 
	{% endblock %}
</body>
</html>