{% extends 'sitaji/base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
      <div class="col s12">
        <h2>Logout</h2>
          <p>Thanks for spending your Quality Time with us.</p>
          <p>Hope to see you very soon </p>
          <p>Site Maintained by : Rakesh Kumar from <a href="https://cbsetoday.com">cbsetoday.com</a></p>
          <p><a class="btn waves-effect color-red" href="{% url 'sitaji:index' %}">Home Page</a></p>
  </div>
  </div>
  </div>
{% endblock %}