html{margin: 0;padding: 0;}
body{background:red;color:white;margin: 0;padding: 0;}
.container{background:silver;width:1200px;margin:0 auto;}
h1,ul{margin: 0;}
h2{display:block;text-align: center;}
img {width:200px;height:200px;margin-right:10px;}
ul li{list-style-type: none;display:inline-block;}