{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li class="waves-effect">
        <a  href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
{% endif %}
    <li class="waves-effect">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </li>
{% if page_obj.has_next %}
    <li class="waves-effect">
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
{% endif %}
</ul>
{% else %}
    <h3>Your File Exam</h3>
    <p>File not yet available</p>
{% endif %}